.popup{
    position: absolute;
    width: 40rem;
    height: 15rem;
    left: calc((100vw - 40rem)/2);
    top: 7rem;
    border: rgb(10, 200, 10);
    border-radius: 20px 20px 0 0;
}

.popup-header{
    border-radius: 20px 20px 0 0;
    position: relative;
    width: 100%;
    height: 50px;
    background: linear-gradient(#8888ff, #0000ff);
    color: white;
    padding: 13px 20px;
    font-size: 18px;
}
.popup-body{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    position: relative;
    width: 100%;
    height: 280px;
    background: #ffffff;
    padding: 5px;
}

.body-text{
    padding: 20px 25px;
    margin-bottom: 25px;
}
.button-section {
    display: flex;
    justify-content: space-evenly;
}
.div-circle {
    position: relative;
    display: table-cell;
    width: 95px;
    height: 95px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0000ff;
    border-radius: 50%;
    color: white;
    box-shadow: 5px 10px 8px 5px #888888;
    background: radial-gradient(#8888ff, #0000ff);
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.div-circle:focus {
    background: #2d699b;
}


@media screen and (max-width: 770px){
    .popup{
        width: 98%;
        height: 15rem;
        left: 1%;
        top: 8rem;
    }
    .div-circle {
        width: 75px;
        height: 75px;
    }
    
}

