.island{
    display: inline-block;
    width: 100px;
}

.island-area{
    position: relative;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.island-area::selection{
    background-color: transparent;
}
.EDITING.island-area::selection{
    cursor: auto;
    background-color: #dddddd;
}
.SELECTED{
    user-select: none;
    caret-color: transparent;
    cursor: no-drop;
    background-color: #888888;
}
.SELECTABLE{
    caret-color: transparent;
    user-select: none;
    animation: pulse 1s ease ;
    animation-iteration-count: infinite;
}
.UNSELECTABLE{
    caret-color: transparent;
    user-select: none;
    cursor: no-drop;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}