.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: space-between;
}
.navbar-left{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hamburger{
    display: inline-block;
    width: 35px;
}
.hamburger-strip{
    margin: 7px;
    width: 30px;
    height: 4px;
    border-radius: 1px;
    border: 2px solid white;
}
.app-name{
    display: inline-block;
    color: white;
    padding: 0 15px;
    font-size: 1.1rem;
}

.navbar-right{
    display: flex;
    width: 500px;
    justify-content: flex-end;
    align-items: center;
}
.rules {
    color: #888888;
    padding: 0 40px;
    font-size: 1.1rem;
    cursor: pointer;
}
.rules:hover, .rules:focus{
    color: white;
}
.versions {
    color: #888888;
    padding: 0 40px;
    font-size: 1.1rem;
    cursor: pointer;
}
.versions:hover, .versions:focus{
    color: white;
}

.author{
    color: #888888;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0 10px;
}
@media screen and (min-width: 769px){
    .author::before{
        content: 'About the ';
    }
}
.author:hover, .author:focus{
    color: white;
}

@media screen and (max-width: 770px){
    .navbar-left{
        width: 200px;
    }
    .hamburger{
        display: inline-block;
        width: 30px;
    }
    .hamburger-strip{
        margin: 5px 10px;
        width: 25px;
        border: 1.5px solid white;
    }
    .app-name{
        padding: 0 0 0 10px;
        font-size: .9rem;
        width: 100px;
    }
    
    .rules {
        padding: 0 10px;
        font-size: 0.9rem;
    }
    .versions {
        font-size: 0.9rem;
        padding: 0 10px;
    }
    .author{
        font-size: 0.9rem;
        padding: 0 10px;
    }
    
}